.header__lang-link {
  font-size: 24px;
  line-height: 117%;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 440px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
}
