.cover__link {
  display: block;
  position: relative;
}

.cover__link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2a2c2f;
  transition: opacity 0.3s linear;
  opacity: 0.3;
}
.cover__link:hover:after {
  opacity: 0.8;
}
