.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  grid-row: 1/2;
  grid-column: 1/2;
}
@media screen and (max-width: 880px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
  }
}
@media screen and (max-width: 720px) {
  .place__title {
    grid-row: 1;
    grid-column: 1;
  }
}
@media screen and (max-width: 440px) {
  .place__title {
    font-size: 32px;
    line-height: 109%;
    padding: 0 16px;
  }
}
