.header__logo {
  display: block;
  width: 176px;
  height: 52px;
  background-image: url('../../../images/icons/logo.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: transform 0.3s ease-in;
}
.header__logo:hover {
  transform: translateX(8px);
}
@media screen and (max-width: 440px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
