.intro {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 48px var(--section-padding);
}
@media screen and (max-width: 768px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 440px) {
  .intro {
    padding-left: 16px;
    padding-right: 16px;
  }
}
